<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <div class="fixed-action-btn">
    <%= button_tag type: :submit, class: "btn-floating btn-large" do %>
        <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Save">insert_drive_file</i>
    <% end %>
  </div>

  <div class="form-inputs">
    <div class="card">
      <div class="card-content">
      <div class="card-title">Details</div>
          <%= f.input :name %>
          <%= f.input :duration_in_seconds, as: :string, input_html: {class: 'duration-picker'} %>
      </div>
    </div>
  </div>
<% end %>
