<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4"><%%= <%= singular_table_name %>.id %></span>
    <div class="right">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons">more_vert</i></span>
    </div>
    <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <strong><%= attribute.human_name %></strong>: <%%= <%= singular_table_name %>.<%= attribute.name %> %>
    <% end -%>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Action<i class="material-icons right">close</i></span>

    <%%= link_to <%= singular_table_name %>, method: :delete, data: {confirm: 'Are you sure?'} do %>
    <i class="material-icons right">delete</i>
    <%% end %>
    <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>) do %>
    <i class="material-icons right">edit</i>
    <%% end %>
    <%%= link_to <%= singular_table_name %> do %>
    <i class="material-icons right">pageview</i>
    <%% end %>
  </div>
</div>
<%% end %>